<!--
<div class="grid-container article">
    <h2 class="article-title">Article 1</h2>
    <figure>
        <img src="./img/article-1.jpg" alt="description of image" class="article-img " />
        <figcaption class="article-img-caption">Details about image</figcaption>
    </figure>
    <p class="article-p">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, cupiditate culpa suscipit incidunt aliquam eaque doloremque voluptate unde deleniti magni velit nesciunt dolor possimus distinctio qui quas nobis praesentium temporibus.</p>
</div>
-->
<div class="article">
    <h1 class="article-title">The Value of Money</h1>
    <figure>
        <img src="./img/article-1.jpg" alt="description of image" class="article-img " />
        <figcaption class="article-img-caption">Planted Money</figcaption>
    </figure>
    <p class="article-p">
        "Money does not grow on trees". That is a very popular statement and it's true because if money did grow on trees, It would not be as valuable!<br>
        <br>The value of money is determined by:
        Exchange rates, The demand for trasury notes and the Foreign Exchange reserves".</p>
    <p> <a href="https://www.thebalance.com/value-of-money-3306108">See more</a></p>
</div>
<hr>
<div class="article">
    <h1 class="article-title">GMO Food</h1>
    <figure>
        <img src="./img/article-2.jpg" alt="description of image" class="article-img " />
        <figcaption class="article-img-caption">Genetically Modified Food</figcaption>
    </figure>
    <p class="article-p">
        Genetically Modified (GM) Foods have foreign genes added to their original genetic codes and thus are "Genetically Modified or Genetically Engineered". <br>
        <br>As with anything that exists, there are risks and disadvantages to GMO food consumption but it is not going away anytime soon.<br> "Genetically modified foods have been linked to toxic and allergic reactions, sickness, sterile and dead livestock, and damage to virtually every organ studied in lab animals," according to the Institute for Responsible Technology, a group of anti-GMO activists. <br><br>Also, a lot of developed countries believe GMO Foods are not safe for consumption but we cannot deny that it has advantages: "GM crops can improve yields for farmers, reduce draws on natural resources and fossil fuels and provide nutritional benefits," according to a statement on the website for Monsanto, the world's largest manufacturer of GMOs. <br>For more go to<a href="https://www.livescience.com/40895-gmo-facts.html">this link.</a> </p>
</div>
<hr>
<div class="article">
    <h1 class="article-title">The View of the World in 2100</h1>
    <figure>
        <img src="./img/article-3.jpg" alt="description of image" class="article-img " />
        <figcaption class="article-img-caption">The World</figcaption>
    </figure>
    <p class="article-p">
        The World is expected to be dramatically different in 2021 which is about 2 years from now. With humans living longer and easily accessible technology, 2021 is a year to look forward to </p>
    <p><a href="https://nypost.com/2011/03/20/the-world-in-2100/">More details</a></p>
</div>
