<h1 class="portfolio-title">Portfolio</h1>

<div class="grid-container portfolio portfolio-1">
    <card>
        <figure>
            <img src="./img/portfolio-1.jpg" alt="Women who Code" class="portfolio-img" />
        </figure>
        <p class="portfolio-title">Women who Code</p>
    </card>
</div>
<div class="grid-container portfolio portfolio-2">
    <card>
        <figure>
            <img src="./img/portfolio-2.jpg" alt="Music Production" class="portfolio-img" />
        </figure>
        <p class="portfolio-title">Music Production</p>
    </card>
</div>
<div class="grid-container portfolio portfolio-3">
    <card>
        <figure>
            <img src="./img/portfolio-3.jpg" alt="Firefighters Support Forum" class="portfolio-img" />
        </figure>
        <p class="portfolio-title">Firefighters Support Forum</p>
    </card>
</div>
<div class="grid-container portfolio portfolio-4">
    <card>
        <figure>
            <img src="./img/portfolio-4.jpg" alt="Play time Locations" class="portfolio-img" />
        </figure>
        <p class="portfolio-title">Play time Locations</p>
    </card>
</div>
<div class="grid-container portfolio portfolio-5">
    <card>
        <figure>
            <img src="./img/portfolio-5.jpg" alt="City Volunteer Opportunities" class="portfolio-img" />
        </figure>
        <p class="portfolio-title">City Volunteer Opportunities</p>
    </card>
</div>
<div class="grid-container portfolio portfolio-6">
    <card>
        <figure>
            <img src="./img/portfolio-6.jpg" alt="Depression Help Line" class="portfolio-img" />
        </figure>
        <p class="portfolio-title">Depression Help Line</p>
    </card>
</div>
